.header__mobileMenu_application {

    padding: 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 0 0 16px 16px;

    &-btn {
        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        width: 95%;
        letter-spacing: -0.5px;
        vertical-align: middle;
        padding: 12px;
        background-color: #22833F;
        border: none;
        border-radius: 25px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
    }
    
    &-phoneIcon {
        width: 22px;
        height: 22px;
        background-image: url(/src/assets/svg/phone_white.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &-text {
        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.5px;
        vertical-align: middle;
        color: #2D2D2D;
    }

    &-time {
        width: 18px;
        height: 18px;
        background-image: url(/src/assets/svg/watch.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &-links {
        display: flex;
        list-style-type: none;
        gap: 32px;
    }

    &-iconVK {
        width: 32px;
        height: 32px;
        background-image: url(/src/assets/svg/messangers/vk.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 32px;
        border-radius: 50%;
    }

    &-iconTG {
        width: 32px;
        height: 32px;
        background-image: url(/src/assets/svg/messangers/tg.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 32px;
        border-radius: 50%;
    }

    &-iconWU {
        width: 32px;
        height: 32px;
        background-image: url(/src/assets/svg/messangers/whatsapp.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 32px;
        border-radius: 50%;
    }

}