.header__nav {

    &_btn {
        padding: 12px 16px;
        background-color: #FFFFFF;
        border: none;
        border-radius: 16px;
        cursor: pointer;

        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: -0.5px;
        color:#2D2D2D;
    }

    &_btnRight {
      width: 94px;
      padding: 12px 16px 12px 8px;
      border-radius: 16px;
      border: none;
      background-image: url('/src/assets/svg/btns/roundedBtn_right.svg');
      background-color: #ffffff00;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: -0.5px;
      color:#2D2D2D;
    }

    &_btnLeft {
        padding: 12px 16px;
        border-radius: 16px;
        border: none;
        background-image: url('/src/assets/svg/btns/roundedBtn_left.svg');
        background-color: #ffffff00;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;

        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: -0.5px;
        color:#2D2D2D;
    }
}