.request{
    &__block{
        position: relative;
        width: 573px;
        height: auto;
        border-radius: 16px;
        padding: 16px;
        padding-bottom: 0px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        &--title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &--h{
                font-family: "Noto Sans", sans-serif;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                letter-spacing: 0px;
                color: rgba(42, 42, 42, 1);
                text-align: center;
            }

            &--p{
                font-family: "Noto Sans", sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                color: rgba(42, 42, 42, 1);
                text-align: center;
            }
        }
    }
}

@media (min-width: 1590px) {
    .request{
        &__block{
            min-width: 812px;
        }
    }
}

@media (max-width: 536px) {
    .request{
        &__block{
            width: calc(100dvw - 32px);
        }
    }
}