.steps{
    &__title{
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 426px;

        &-h{
            font-family: "Noto Sans", sans-serif;
            font-size: 36px;
            line-height: 36px;
            letter-spacing: -1px;
            font-weight: 800;
            display: flex;
            flex-direction: column;
            text-align: center;

            &_whiteGreen{
                color: rgba(92, 195, 123, 1);
            }

            &_darkGreen{
                color: rgba(34, 131, 63, 1);
                line-height: 100%;
            }
        }

        &-p1{
            font-family: "Noto Sans", sans-serif;
            font-size: 22px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0px;
            color: rgba(45, 45, 45, 1);
        }

        &-p2{
            font-family: "Noto Sans", sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 0.25px;
            color: rgba(45, 45, 45, 1);
            text-align: center;
        }
    }
}

@media (max-width: 1199px) {
    .steps{
        &__title{
            align-items: center;
            &-h{
                font-size: 24px;
            }
        }
    }
}