.request__form{
    &--agree{
        display: flex;
        gap: 17px;
        align-items: center;
        justify-content: center;

        &-text{
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: rgba(45, 45, 45, 1);
        }
    }

    &--toggle{
      min-width: 20px;
      max-width: 20px;
      min-height: 20px;
      max-height: 20px;
      border: 2px solid rgba(92, 195, 123, 1);  
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-check{
        display: none;
        min-width: 10px;
        max-width: 10px;
        min-height: 10px;
        max-height: 10px;
        border-radius: 50%;
        background-color: rgba(92, 195, 123, 1);
      }

      &.active{
        & div{
            display: block;
        }
      }
    }
}