.galery{
    &__title{
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 420px;

        &--text{
            font-family: "Noto Sans", sans-serif;
            font-size: 36px;
            font-weight: 800;
            letter-spacing: -1px;
            line-height: 36px;
            display: flex;
            flex-direction: column;
            

            &_whiteGreen{
                color: rgba(92, 195, 123, 1);
            }

            &_darkGreen{
                color: rgba(34, 131, 63, 1);
                line-height: 100%;
            }
        }

        &--p{
            font-family: "Noto Sans", sans-serif;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 0px;
            line-height: 24px;
            color: rgba(45, 45, 45, 1);
        }

        &--p2{
            font-family: "Noto Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0px;
            line-height: 20px;
            color: rgba(45, 45, 45, 1);
        }
    }
}


@media (max-width: 1194px) {
    .galery{
        &__title{
            &--text{
                font-size: 24px;
                text-align: center;
            }

            &--p{
                text-align: center;
            }

            &--p2{
                text-align: center;
            }
        }
    }
}


@media (max-width: 475px) {
    .galery{
        &__title{
            max-width: calc(100dvw - 32px);

            &--p2{
                text-align: justify;
            }
        }
    }
}