.widget2__sale {

  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 12px;
  background-color: #5CC37B;
  border-radius: 16px;
  position: relative;

  &_textContainer1 {

      display: flex;
      gap: 9px;
      background-color: #5CC37B;
  }

  &_text1-big {

      font-family: "Noto Sans", sans-serif;
      font-weight: 800;
      font-size: 48px;
      line-height: 36px;
      letter-spacing: 0;
      vertical-align: middle;
      color: #FFF;
      background-color: #5CC37B;
  }

  &_text1-small {

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 16px;
      letter-spacing: -2px;
      color: #FFF;
      background-color: #5CC37B;
  }

  &_textContainer2 {

      display: flex;
      gap: 6px;
      background-color: #5CC37B;

  }

  &_text2 {

      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0;
      vertical-align: middle;
      color: #FFF;
      background-color: #5CC37B;
  }

  &_text2-opacity {

      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0;
      vertical-align: middle;
      text-decoration: line-through;
      color: #FFFFFF99;
      background-color: #5CC37B;
      text-align: center;
  }

  &_application {

      display: flex;
      align-items: center;
      gap: 6px;
      background-color: #5CC37B;
  }

  &_btn {

      display: flex;
      align-items: center;
      gap: 6px;
      padding: 10px 16px 10px 10px;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      border-radius: 16px;
      border: none;
      text-wrap: nowrap;
      color: #2D2D2D;
      margin-top: 19px;
        background: linear-gradient(to right, #6fff8286 50%, #FFFFFF 50%);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 200% 100%;
        transition: all 0.2s ease;

        & div{
          background: linear-gradient(to right, rgba(17, 179, 66, 0.658) 50%, rgba(92, 195, 123, 1) 50%);
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: 200% 100%;
          transition: all 0.2s ease;
          border-radius: 8px;
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover{
          background-position: left bottom;

          & div{
            background-position: left bottom;
          }
        }
  }

  &_btnIcon {

      width: 36px;
      height: 36px;
      background-image: url(/src/assets/svg/btns/lightning.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  &_application-text {

      font-family: "Noto Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0;
      vertical-align: middle;
      color: #FFFFFF99;
      background-color: #5CC37B;
  }

  &_implant {

      width: 104px;
      height: 173px;
      background-image: url(/src/assets/png/implants.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 12px;
      bottom: 98px;
  }
}

@media screen and (min-width: 1672px) {

  .widget2__sale {

    padding: 20px;
  }
}