.header__mobileMenu {
    
    display: block;
    transition: all 0.3s ease-in-out;
    transform: translateY(-120%);
    background-color: #ffffff;

    &_address {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 0;
        border-radius: 16px 16px 0 0 ;
    }
}

@media screen and (min-width: 1194px) {
    .header__mobileMenu {
        display: none;
    }
}

.header__mobileMenu-active {
    transform: translateY(0);
}