.main__widget3 {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;

}


@media screen and (min-width: 1194px) {

    .main__widget3 {

      order: 0;
    }
}

@media screen and (min-width: 1672px) {

    .main__widget3 {

      transform: translateX(60px);
    }
}