.request{
    &__form{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 4px 0px;
        width: 100%;

        &--item{
            display: flex;
            flex-direction: column;
            gap: 6px;

            &.unapprecial{
                & p{
                    color: rgba(224, 42, 66, 1);
                }

                & input{
                    background-color: rgba(224, 42, 66, 0.1);
                    border-color: rgba(224, 42, 66, 1);

                    &::placeholder{
                    color: rgba(224, 42, 66, 1);
                    }
                }
            }
        }

        &--text{
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: rgba(45, 45, 45, 1);
        }

        &--input{
            width: 100%;
            border-radius: 10px;
            padding: 16px;
            border: 1px solid rgba(224, 226, 228, 1);
            background-color: rgba(246, 246, 246, 1);

            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: -0.5px;
            color: rgba(45, 45, 45, 1);

            &:focus{
                border: 1px solid rgba(34, 131, 63, 1);
                color: rgba(34, 131, 63, 1);
            }

            &::placeholder{
               color: rgba(116, 116, 116, 1); 
            }
        }
    }
}