.reviews-doctors__titleContainer {

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

}

.reviews-doctors__title {

  display: flex;
  flex-direction: column;
  gap: 16px;

  &_text-lightGreen {

    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
    color: #5CC37B;

    @media screen and (min-width: 1672px) {

      font-size: 48px;
    }
  }

  &_text-darkGreen {

    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
    color: #22833F;

    @media screen and (min-width: 1672px) {

      font-size: 48px;
    }
  }

  &_text {

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #2D2D2D;
    margin-top: 16px;
    @media screen and (min-width: 1672px) {

      font-size: 32px;
      margin-top: 24px;
    }
  }
}

