.footer  {

  background-color: #f7f6fb;
  padding-bottom: 16px;

  &__content {

    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 10px 10px 98px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    align-items: center;
  }

  &__main {

    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

