.popupQuiz{
    &__header-text1{
        font-family: 'Noto-sans', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 1);
        position: absolute;
        top: -24px;
        left: 313px;

        padding: 8px 16px;
        border-radius: 16px;
        background-color: rgba(104, 93, 249, 1);
    }

    &__header-text2{
        font-family: 'Noto-sans', sans-serif;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0px;
        color: rgba(45, 45, 45, 1);
        position: absolute;
        top: -24px;
        right: 313px;

        padding: 8px 16px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 1);
    }

    &__img{
        width: 174px;
        height: auto;
        position: absolute;
        transform: rotate(-15deg);
        left: 36px;
        top: 42px;
    }
}

@media (max-width: 1194px) {
    .popupQuiz{
        &__header-text1{
            left: 80px;
            right: unset;
        }

        &__header-text2{
            left: unset;
            right: 80px;
        }

        &__img{
            display: none;
        }
    }
}