@use './_title/title';
@use './_widget/widget';
@use './_text/text';
@use './_btn/btn';

.steps{
    background-color: rgba(247, 246, 251, 1);

    &__content{
        display: flex;
        gap: 16px;
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: center;
    }
}

@media (max-width: 1199px) {
    .steps{
        &__content{
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
        }
    }
}