.header__application {

    &_btn {

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      transition: all 0.2s ease-in-out;

        padding: 12px 68px;
        background-color: #22833F;
        border: none;
        border-radius: 25px;
        color: #FFF;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

      &:hover {

        background-color: #5CC37B;
      }
    }
}

@media screen and (min-width: 1672px) {
    .header__application {

        &_btn {
            padding: 12px 16px;
        }
    }
}