.footer__warning {

  display: flex;
  align-items: center;

  &_text {

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #2D2D2D;
  }
}

@media (min-width: 1194px) {
  .footer__warning{
    grid-area: infoText;
    justify-content: center;
  }
}