.guarantees{
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;

        &-p{
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.5px;
            color: rgba(45, 45, 45, 1);
            border-radius: 16px;
            padding: 10px 16px;
            background-color: rgba(255, 255, 255, 1);
        }

        &-h2{
            font-family: "Noto Sans", sans-serif;
            font-size: 48px;
            letter-spacing: -1px;
            line-height: 36px;
            font-weight: 800;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            &_whiteGreen{
                color: rgba(92, 195, 123, 1);
            }

            &_darkGreen{
                color: rgba(34, 131, 63, 1);
                line-height: 100%;
            }
        }

        &-p2{
            font-family: "Noto Sans", sans-serif;
            font-size: 32px;
            letter-spacing: 0px;
            line-height: 40px;
            font-weight: 500;
            color: rgba(45, 45, 45, 1);
            & br{
                display: none;
            }
        }
    }
}

@media (max-width: 817px) {
    .guarantees{
        &__title{
            gap: 16px;

            &-h2{
                font-size: 24px;
                line-height: 100%;
                letter-spacing: -1px;

            }

            &-p2{
                font-size: 22px;
                line-height: 24px;
                text-align: center;
                & br{
                    display: block;
                }
            }
        }
    }
}