@use './_title/title';
@use './_imgs/imgs';

.galery{
    background-color: rgba(247, 246, 251, 1);
    overflow: hidden;

    &__content{
        display: flex;
        justify-content: center;
        padding: 50px 0px;
        gap: 16px;
    }
}

@media (max-width: 1194px) {
    .galery{
        &__content{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 700px) {
    .galery{
        &__content{
            padding: 30px 0px 50px 0px;
        }
    }
}