.main {

  background-color: #F7F6FB;

    &__content {

      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: #FFF;
      position: relative;
      padding: 80px 10px 0;
      border-radius: 0 0 0 16px;
    }
}

@media screen and (min-width: 1194px) {

    .main {

        &__content {

            flex-direction: row;
            padding-top: 140px;
            padding-bottom: 90px;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1672px) {

    .main {

        &__content {

          padding: 160px 16px 0;
        }
    }
}