.header__address {

    display: none;
    z-index: 999;

    &_logo {

    width: 230px;
    height: 51px;
    background-image: url(/src/assets/svg/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    }

    &_points {

        display: flex;
        gap: 6px;
        justify-content: center;
        cursor: pointer;
        position: relative;
    }

    &_mark {

      background-image: url('/src/assets/svg/point.svg');
        height: 18px;
        width: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgba(255, 255, 255, 0);
    }

    &_text {

        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.5px;
        vertical-align: middle;
        color: #2D2D2D;
    }

    &_list {
        width: 234px;
        position: absolute;
        background-color: #F7F6FB;
        transform: translateY(-200%);
        top: 30px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 25px;
        box-shadow: 0 12px 18px 0 #0000001A;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        z-index: 997;
    }

    &_item {
      border-radius: 16px;
      border: none;
      padding: 4px 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      color: #2D2D2D;
      background-color: rgba(247, 246, 251, 0);
    }

    &_item:hover {
        background-color: #22833F26;
        color: #22833F;
    }

    &_item:active {
        background-color: #5CC37B;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 1194px) {
    .header__address {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media screen and (min-width: 1672px) {
    .header__address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 44px;
        transform: translateY(-10px);

        &_text {
            font-size: 16px;
        }

        &_points {
            align-items: center;
        }
    }
}