.popupQuiz{
    &__title{
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 654px;

        &--text{
            text-align: center;
            font-family: 'Noto-sans', sans-serif;
            font-size: 36px;
            font-weight: 800;
            line-height: 36px;
            letter-spacing: -1px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_whiteGreen{
                color: rgba(92, 195, 123, 1);
            }

            &_darkGreen{
                color: rgba(34, 131, 63, 1);
            }
        }

        &--p{
            text-align: center;
            font-family: 'Noto-sans', sans-serif;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0px;
            color: rgba(45, 45, 45, 1);
        }
    }
}

@media (max-width: 730px) {
    .popupQuiz{
        &__title{
            &--text{
                font-size: 24px;

            }

            &--p{
                font-size: 16px;
                line-height: 140%;
            }
        } 
    }
}
