.steps__widget--btn{
    width: 100%;
    border-radius: 16px;
    padding: 10px 16px;
    background-color: rgba(92, 195, 123, 0.15);
    border: 1px solid rgba(92, 195, 123, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: rgba(45, 45, 45, 1);

    &1{
        margin-top: 19px;
    }

    &2{
        background-color: rgba(104, 93, 249, 1);
        color: rgba(255, 255, 255, 1);
        margin-top: 3px;
    }

    &:hover{
      transform: translateY(-5px);
    }

    &:active{
      transform: translateY(-5px) scale(90%);
    }
}