.steps__widget--btn{
    width: 100%;
    border-radius: 16px;
    padding: 10px 16px;
    border: 1px solid rgba(92, 195, 123, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: rgba(45, 45, 45, 1);

    &1{
        margin-top: 19px;
        background: linear-gradient(to right, rgba(31, 255, 31, 0.356) 50%, rgba(92, 195, 123, 0.15) 50%);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 200% 100%;
        transition: all 0.2s ease;

        & div{
          background: linear-gradient(to right, rgba(93, 196, 124, 0.658) 50%, rgba(92, 195, 123, 1) 50%);
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: 200% 100%;
          transition: all 0.2s ease;
          border-radius: 8px;
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover{
          background-position: left bottom;

          & div{
            background-position: left bottom;
          }
        }
    }

    &2{
        background-color: rgba(104, 93, 249, 1);
        color: rgba(255, 255, 255, 1);
        margin-top: 3px;
    }

    &:hover{
      transform: translateY(-5px);
    }

    &:active{
      transform: translateY(-5px) scale(90%);
    }
}