.container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 532px;
}

@media screen and (min-width: 1194px) {

    .container {
        
        max-width: 1200px;
    }
    
}

@media screen and (min-width: 1672px) {

    .container {
        
        max-width: 1672px;
    }
    
}