.steps{
    &__widget{
        width: auto;
        height: auto;
        border-radius: 16px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border: 1px solid rgba(92, 195, 123, 1);
        background-color: rgba(255, 255, 255, 1);
        width: 353px;

        &--div{
            display: grid;
            gap: 6px;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "text1 img"
            "text2 img";

            &--text1{
                font-family: "Noto Sans", sans-serif;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: 0.25px;
                color: rgba(45, 45, 45, 1);
                padding: 6px 16px;
                width: 100%;
                background-color: rgba(45, 45, 45, 0.1);
                border-radius: 10px;
                grid-area: text1;
            }

            &--text2{
                font-family: "Noto Sans", sans-serif;
                font-size: 24px;
                line-height: 32px;
                font-weight: 500;
                letter-spacing: 0px;
                color: rgba(34, 131, 63, 1);
                padding: 6px 16px;
                width: 100%;
                background-color: rgba(92, 195, 123, 0.1);
                border-radius: 10px;
                grid-area: text2;

                &_maxWidth{
                    max-width: 262px;
                }
            }

            &--img{
                width: 88px;
                height: 88px;
                border-radius: 50%;
                grid-area: img;
            }
        }
    }
}

@media (max-width: 383px) {
    .steps{
        &__widget{
            width: calc(100dvw - 32px);
        }
    }
}