.reviews-companies {

  &__items {

    display: flex;
    position: relative;
    height: 371px;
    width: 100%;
  }

  &__prodoctorov {

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    &_logo {

      padding: 0 16px;
      background-color: #FFFFFF;
      width: 186px;
      height: 46px;
      background-image: url("/src/assets/png/companies/proDoctorov.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 154px 46px;
      border-radius: 16px;
    }

    &_estimation {

      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__2gis {

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: absolute;
    top: 34px;
    right: 16px;

    &_logo {

      padding: 6px 16px;
      background-color: #FFFFFF;
      width: 107px;
      height: 46px;
      background-image: url("/src/assets/png/companies/2gis.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75px 32px;
      border-radius: 16px;
    }

    &_estimation {

      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__flamp {

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: absolute;
    top: 104px;
    right: 0;
    left: 0;

    &_logo {

      padding: 7px 6px;
      background-color: #FFFFFF;
      width: 140px;
      height: 46px;
      background-image: url("/src/assets/png/companies/flamp.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 128px 32px;
      border-radius: 16px;
    }

    &_estimation {

      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__32top {

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: absolute;
    top: 192px;
    left: 33px;

    &_logo {

      padding: 12px 16px;
      background-color: #FFFFFF;
      width: 104px;
      height: 46px;
      background-image: url("/src/assets/png/companies/32top.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 72px 22px;
      border-radius: 16px;
    }

    &_estimation {

      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__yandex {

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: absolute;
    top: 180px;
    right: 0;

    &_logo {

      padding: 7px 16px;
      background-color: #FFFFFF;
      width: 125px;
      height: 46px;
      background-image: url("/src/assets/png/companies/yandex.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 93px 32px;
      border-radius: 16px;
    }

    &_estimation {

      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  &__google {

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    &_logo {

      padding: 6px 16px;
      background-color: #FFFFFF;
      width: 216px;
      height: 46px;
      background-image: url("/src/assets/png/companies/google.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 184px 34px;
      border-radius: 16px;
    }

    &_estimation {

      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}

