@use './_mainBlock/mainBlock';
@use './_message/message';

.patquest{
    background-color: rgba(247, 246, 251, 1);

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__title{
        font-family: "Noto Sans", sans-serif;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -1px;
        font-weight: 800;
        text-align: center;
        padding: 30px 0px;

        &_white{
            color: rgba(255, 255, 255, 1);
        }

        &_green{
            color: rgba(255, 255, 255, 0.6);
        }
    }
}

@media (min-width: 1590px) {
    .patquest{
        &__title{
            padding: 14px 0px;
        }
    }
}

@media (max-width: 1199px) {
    .patquest{
        display: none;
    }
}