.reviews-main {

  &__container {

    width: 329px;
    overflow: hidden;

    @media screen and (min-width: 1194px) {

      width: 1096px;
      padding: 16px 0;
      margin: 0 auto;
    }

    @media screen and (min-width: 1672px) {

      width: 1580px;
    }
  }

  &__items {

    display: flex;
    gap: 16px;
  }
}