.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    &__content {
        padding: 0 10px 10px;
      background-color: rgb(229 229 229 / 30%);
        border-radius: 12px 12px 16px 16px;
        display: flex;
        justify-content: space-between;
        position: relative;
        backdrop-filter: blur(10px);
        max-width: 500px;
        margin: 0 auto;
        box-shadow: 0 8px 18px 0 #0000001A;
    }

    &__container {
      padding: 0 16px 0;
      background-color: #ffffff00;

    }
}

@media screen and (min-width: 1194px) {
    .header {
        &__content {
          padding: 20px 20px 5px;
          max-width: 1168px;
        }
    }
}

@media screen and (min-width: 1672px) {
    .header {
        &__content {
          padding: 20px 20px 5px;
          max-width: 1640px;
        }
    }
}

.roundedSquare_left {
    background-image: url(/src/assets/svg/rounded_square.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    background-color: #ffffff00;
    position: absolute;
    z-index: 100;
    left: -1px;
    top: 0;
}

.roundedSquare_right {
    background-image: url(/src/assets/svg/rounded_square.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    background-color: #ffffff00;
    position: absolute;
    z-index: 100;
    right: -1px;
    top: 0;
    transform: rotate(90deg);
}

