.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: rgb(229 229 229 / 30%);
      backdrop-filter: blur(10px);
      box-shadow: 0 8px 18px 0 #0000001A;

    &__content {
        padding: 0 10px 10px;
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: 500px;
        margin: 0 auto;
    }

    &__container {
      padding: 0 16px 0;
      background-color: #ffffff00;

    }
}

@media screen and (min-width: 1194px) {
    .header {
        &__content {
          padding: 20px 20px 5px;
          max-width: 1194px;
        }
    }
}

@media screen and (min-width: 1672px) {
    .header {
        &__content {
          padding: 20px 20px 5px;
          backdrop-filter: unset;
          background-color: unset;
          border-radius: unset;
          box-shadow:  unset;
          max-width: 1691px;
        }
    }
}
