.widget1__skull {

  width: 280px;
  height: 210px;
  background-image: url(/src/assets/png/skull_widget1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #ffffff00;
  position: relative;
  margin: 0 auto;
  transform: translateY(20px);
  z-index: 1;
    

    &_component1 {

        width: 203px;
        height: 44px;
        background-image: url(/src/assets/svg/skullConponent_left.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #ffffff00;
        display: flex;
        padding: 6px 11px 6px 6px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 0;
        top: -6px;
    }

    @media screen and (min-width: 1672px) {
        
        &_component1 {

            top: 10px;
            padding: 10px 26px 10px 10px;
            width: 322px;
            height: 52px;
            background-image: url(/src/assets/svg/skullComponent_desktop_left.svg);
        }
    }

    &_component2 {

        width: 203px;
        height: 44px;
        background-image: url(/src/assets/svg/skullConponent_right.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #ffffff00;
        display: flex;
        padding: 6px 6px 6px 16px;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: -22px;
    }

    @media screen and (min-width: 1672px) {
        
        &_component2 {

          bottom: 40px;
          padding: 10px 10px 10px 35px;
          width: 322px;
          height: 52px;
          background-image: url(/src/assets/svg/skullComponent_desktop_right.svg);
        }
    }

    &_teeth {

        width: 12px;
        height: 12px;
        background-color: #ffffff00;
        background-image: url(/src/assets/svg/tooth.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (min-width: 1672px) {

        &_teeth {

            width: 18px;
            height: 18px;
        }
    }

    &_text {

        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
        vertical-align: middle;
    }

    @media screen and (min-width: 1672px) {
    
        &_text {

            font-size: 24px;
        }
    }
}

@media screen and (min-width: 1194px) {
    
    .widget1__skull {

        transform: translateY(-35px) translateX(35px);
    }
}

 @media screen and (min-width: 1672px) {
    
    .widget1__skull {

        transform: translateY(50px) translateX(0);
        position: absolute;
        width: 800px;
        height: 300px;
        top: 200px;
        
    }
}