.galery__imgs{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "img1 img2"
    ". img3";
    gap: 16px;

    &--img{
        min-width: 300px;
        min-height: 200px;
        border-radius: 16px;
        background-image: url("#");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &:nth-of-type(1){
            background-image: url('../../../../assets/png/gallery/img1.png');
            grid-area: img1;
        }

        &:nth-of-type(2){
            background-image: url('../../../../assets/png/gallery/img2.png');
            grid-area: img2;
        }

        &:nth-of-type(3){
            background-image: url('../../../../assets/png/gallery/img3.png');
            grid-area: img3;
            transform: translateX(115px);
        }
    }
}


@media (max-width: 750px) {
    .galery__imgs{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "img1"
        "img2"
        "img3";

        &--img{
            &:nth-of-type(3){
                transform: translateX(100px);
            }
        }
    }
}


@media (max-width: 415px) {
    .galery__imgs{
        &--img{
            min-width: calc(100dvw - 32px);

            &:nth-of-type(3){
                transform: translateX(76px);
            }
        }
    }
}