.header__menuBtn {

  width: 44px;
  height: 44px;
  background-color: #F7F6FB;
  border: none;
  border-radius: 12px;
  background-image: url(/src/assets/svg/strokes.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px;
  margin-top: auto;
  cursor: pointer;
  display: block;
  transform: translateY(5px);
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;

}

@media screen and (min-width: 1194px) {
    .header__menuBtn {
        display: none;
    }
}

.header__menuBtn-open {
    background-image: url(/src/assets/svg/btns/close-icon.svg);
    background-size: 24px;
}