@use './_title/title';
@use './_grid/grid';

.guarantees{
    background-color: rgba(247, 246, 251, 1);

    &__container{
        max-width: unset !important;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-bottom: 50px;
        gap: 32px;
    }
}

@media (max-width: 817px) {
    .guarantees{
        &__content{
            padding-top: 50px;
        }
    }
}