.fringe {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 16px;
    position: relative;

    &__svg {
        background-color: #FFF;
    }

    &__logo {
        position: absolute;
        top: 4px;
    }
}




