.header__nav {

    display: none;
}

@media screen and (min-width: 1194px) {
    
    .header__nav {

    display: block;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 20px;

    &_list {
        list-style-type: none;
        display: flex;
        gap: 3px;
        background-color: rgba(255, 255, 255, 0);
    }

    &_item {
        list-style-type: none;
        background-color: rgba(255, 255, 255, 0);
    }
}
}