.header__mobileMenu_nav {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  padding: 0 16px;

    &-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 100%;
    }

    &-btn {

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: -0.5px;
      padding: 12px 20px;
      border-radius: 25px;
      width: 100%;
      border: none;
      background-color: #ffffff00;
      transition: all 0.2s ease-in-out;

      &:hover {

        background-color: #22833F26;
        color: #22833F;
      }

      &:active {

        background-color: #22833F;
        color: #FFFFFF;
      }
    }

    &-item {
        width: 100%;
    }
}

#mobile_nav-faq {

  @media screen and (max-width: 1193px) {

    display: none;
  }
}