.request__block--btn{
    width: calc(100% + 32px);
    height: auto;
    padding: 16px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    bottom: 0px;
    background-color: rgba(104, 93, 249, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 1);

    &.disabled{
        opacity: 0.4;
        cursor: inherit;
    }

    &:hover{
        background-color: rgb(77, 64, 252);
    }

    &:active{
        font-size: 16px;
    }
}


@media (max-width: 420px) {
    .request__block--btn{
        padding: 16px 24px;
        font-size: 16px;
    }
}