.widget2__phone {

    display: flex;
    gap: 6px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    &_text1 {

        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.5px;
        vertical-align: middle;
        color: #22833F;
    }

    &_text2 {

        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.5px;
        vertical-align: middle;
        color: #2D2D2D;
    }
}

