.help__title {

  display: flex;
  flex-direction: column;
  gap: 16px;

  &_text1-lightGreen {

    color: #5CC37B;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    vertical-align: middle;
    text-align: center;
  }

  &_text1-darkGreen {

    color: #22833F;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    vertical-align: middle;
    text-align: center;
  }

  &_text2 {

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #2D2D2D;

  }
}