.help__title {

  display: flex;
  flex-direction: column;
  gap: 16px;

  &_text1-lightGreen {

    color: #5CC37B;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    vertical-align: middle;
    text-align: center;
  }

  @media screen and (min-width: 1194px) {

    &_text1-lightGreen {

      font-size: 36px;
      text-align: start;
    }
  }

  @media screen and (min-width: 1672px) {

    &_text1-lightGreen {

      font-size: 48px;
    }
  }

  &_text1-darkGreen {

    color: #22833F;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    vertical-align: middle;
    text-align: center;
  }

  @media screen and (min-width: 1194px) {

    &_text1-darkGreen {

      font-size: 36px;
      text-align: start;
    }
  }

  @media screen and (min-width: 1672px) {

    &_text1-darkGreen {

      font-size: 48px;
    }
  }

  &_text2 {

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #2D2D2D;
  }

  @media screen and (min-width: 1194px) {

    &_text2 {

      font-size: 24px;
      text-align: start;
    }
  }

  @media screen and (min-width: 1672px) {

    &_text2 {

      font-size: 32px;
    }
  }
}