.quiz{
  &__nav{
    width: auto;
    height: auto;
    display: flex;
    gap: 40px;
    margin-top: 32px;

    &--btn {
      cursor: pointer;
      outline: none;
      width: 44px;
      height: 44px;
      border-radius: 16px;
      border: 1px solid rgba(224, 226, 228, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(224, 226, 228, 0);

      & .quiz__nav--btn-img {
        width: 11px;
        height: 19px;
        background-image: url("../../../../assets/svg/quiz/arrowRight.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }


      &:hover {
        border: 1px solid rgba(34, 131, 63, 1);

        & .quiz__nav--btn-img {
          background-image: url("../../../../assets/svg/quiz/arrowRight_green.svg");
        }
      }

      &:active {
        background: rgba(92, 195, 123, 0.1);
      }

      &:nth-of-type(1) {
        & .quiz__nav--btn-img {
          transform: rotate(180deg);
        }
      }

      &.disabled{
        opacity: 0.5;

        &:hover {
          border: 1px solid rgba(224, 226, 228, 1);

          & .quiz__nav--btn-img {
            background-image: url("../../../../assets/svg/quiz/arrowRight.svg");
          }
        }

        &:active {
          background: rgba(224, 226, 228, 0);
        }

      }
    }
  }
}