.calculation__block {

  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;

  &_one {

    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;

    @media screen and (min-width: 1194px) {

      gap: 8px;
      flex-direction: row;
      align-items: end;
    }
  }

  &_text-darkGreen {

    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    vertical-align: middle;
    color: #22833F;

    @media screen and (min-width: 1194px) {

      font-size: 48px;
    }
  }

  &_text-lightGreen {

    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1px;
    text-align: center;
    vertical-align: middle;
    color: #5CC37B;

    @media screen and (min-width: 1194px) {

      font-size: 48px;
    }
  }

  &_image {

    width: 148px;
    height: 86px;
    background-image: url("/src/assets/png/calculation_tooth.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &_text-description {

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #2D2D2D;
    margin-top: 20px;

    @media screen and (min-width: 1194px) {

      font-size: 32px;
      line-height: 40px;
      max-width: 870px;
    }
  }
}