.widget2__stoke {

    display: flex;
    flex-direction: column;
    gap: 16px;

    &_text1 {

        font-family: "Noto Sans" ,sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 0;
        color: #2D2D2D;

    }

    @media screen and (min-width: 1672px) {

      &_text1 {

        font-size: 24px;
      }
    }

    &_list {

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &_item {

        display: flex;
        gap: 8px;
        align-items: center;
    }
}