.qwizRequest__form{
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;

  &--item{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;

    &.unapprecial{
      & p{
        color: rgba(224, 42, 66, 1);
      }

      & input{
        background-color: rgba(224, 42, 66, 0.1);
        border-color: rgba(224, 42, 66, 1);

        &::placeholder{
          color: rgba(224, 42, 66, 1);
        }
      }
    }
  }

  &--input{
    width: 100%;
    height: 52px;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid rgba(224, 226, 228, 1);
    background-color: rgba(246, 246, 246, 1);
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: rgba(45, 45, 45, 1);

    &::placeholder{
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      color: rgba(116, 116, 116, 1);
    }

    &:focus{
      background-color: rgba(246, 246, 246, 1);
      border-color: rgba(34, 131, 63, 1);

      &::placeholder{
        color: rgba(34, 131, 63, 1);
      }
    }
  }
}