.main-item__case {

  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  @media screen and (min-width: 1194px) {

    flex-direction: row;
  }

  &_before {

    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  &_view {

    width: 329px;
    height: 500px;
    background-image: url("/src/assets/png/reviews/cases/case1_video.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 140px;
    border-radius: 16px;

    @media screen and (min-width: 1194px) {

      margin-top: 0;
      width: 200px;
      height: 399px;
    }
  }

  &_youtube {

    width: 309px;
    height: 122px;
    background-image: url("/src/assets/png/reviews/cases/youtube.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    bottom: 520px;

    @media screen and (min-width: 1194px) {

      width: 420px;
      height: 152px;
      right: 140px;
      top: -200px;
    }

    @media screen and (min-width: 1672px) {

      right: 100px;
    }
  }

  .item-case__before {

    &_block {

      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 12px;
      background-color: #FFD7D7;
      border-radius: 16px;

      @media screen and (min-width: 1194px) {

        padding: 30px;
        width: 432px;
      }

      @media screen and (min-width: 1672px) {

        width: 674px;
      }

      &_green {

        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 12px;
        border-radius: 16px;
        background-color: #B6E9AB;

        @media screen and (min-width: 1194px) {

          padding: 30px;
          width: 432px;
        }

        @media screen and (min-width: 1672px) {

          width: 674px;
        }
      }
    }

    &_text {

      font-family: "Noto Sans", sans-serif;
      font-weight: 700;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 0;
      vertical-align: middle;
      color: #333333;
    }

    &_text-light {

      font-weight: 400;
    }

    &_radio {

      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &_item {

      display: flex;
      gap: 8px;
      align-items: center;
    }

    &_radio-Unactive {

      width: 16px;
      height: 16px;
      background-image: url("/src/assets/svg/radio_unactive_black.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &_radio-active {

      width: 16px;
      height: 16px;
      background-image: url("/src/assets/svg/radio_active_black.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }

    &_radio-text {

      font-family: "Noto Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      vertical-align: middle;
      color: #333333;
    }

    &_photo1-before {

      width: 329px;
      height: 191px;
      background-image: url("/src/assets/png/reviews/cases/case1_before.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 16px;
      position: relative;

      @media screen and (min-width: 1194px) {

        width: 432px;
      }

      @media screen and (min-width: 1672px) {

        width: 674px;
      }
    }

    &_photo1-iconBefore {

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      color: #73162E;
      padding: 6px 16px;
      background-color: #FFD7D7;
      border-radius: 100px;
      width: 54px;
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    &_photo1-after {

      width: 329px;
      height: 191px;
      background-image: url("/src/assets/png/reviews/cases/case1_after.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 16px;
      position: relative;

      @media screen and (min-width: 1194px) {

        width: 432px;
      }

      @media screen and (min-width: 1672px) {

        width: 674px;
      }
    }

    &_photo1-iconAfter {

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      color: #154D00;
      padding: 6px 16px;
      background-color: #B6E9AB;
      border-radius: 100px;
      width: 79px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}