.footer__feedback {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &_btns {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
  }

  &_btn-phone {

    display: flex;
    gap: 8px;
    padding: 12px 53px;
    align-items: center;
    justify-content: center;
    background-color: #22833F;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;

    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.5px;
    vertical-align: middle;

    .footer-btn-phone {

      width: 16px;
      height: 16px;
    }
  }

  &_btn-vk {

    width: 24px;
    height: 24px;
    background-image: url("/src/assets/svg/messangers/vk.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 16px;
  }

  &_btn-tg {

    width: 24px;
    height: 24px;
    background-image: url("/src/assets/svg/messangers/tg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &_btn-whatsapp {

    width: 24px;
    height: 24px;
    background-image: url("/src/assets/svg/messangers/whatsapp.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  &_time {
    display: flex;
    gap: 4px;
  }

  &_addresses {

    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    width: 100%;

    &-item {

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      color: #2D2D2D;
    }
  }
}


@media (min-width: 1194px) {
  .footer__feedback{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: infoBlock;

    &_btn-phone{
      padding: 12px 32px;
    }

    &_addresses{
      width: fit-content;

      &-item{
        font-size: 14px;
        line-height: 20px;
      }
    }

    &_btns{
      width: auto;
      gap: 16px;
    }
  }
}