.reviews-companies {

  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  position: relative;

  @media screen and (min-width: 1194px) {

    max-width: 740px;
    width: 100%;
    margin: 0 auto;
  }
}

.reviews__background {

  display: none;

  @media screen and (min-width: 1194px) {

    width: 127px;
    height: 127px;
    background-color: #5CC37B;
    filter: blur(90px);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    bottom: 200px;
    right: 200px;
    display: flex;
  }
}