@use '/src/assets/fonts/fonts.scss';

@use './mobile/body/body.scss';

@use './mobile/container/container.scss';
@use './mobile/header/fringe.scss';
@use './mobile/header/header.scss';
@use './mobile/header/btns/header__phoneBtn.scss';
@use './mobile/header/btns/header__menuBtn.scss';

@use './mobile/header/address/address_content.scss';
@use './mobile/header/address/btn/address_btn.scss';
@use './mobile/header/address/btn/openList-btn';

@use './mobile/header/application/application_content.scss';
@use './mobile/header/application/btn/application_btn.scss';

@use './mobile/header/block/header_block.scss';
@use './mobile/header/block/header_links.scss';

@use './mobile/header/nav/header__nav.scss';
@use './mobile/header/nav/btns/header__nav_btn.scss';

@use './mobile/header/address/address__openList.scss';

@use 'mobile/header/__mobileMenu/_mobileMenu';
@use 'mobile/header/__mobileMenu/_address/address';
@use 'mobile/header/__mobileMenu/_nav/nav';
@use 'mobile/header/__mobileMenu/_application/application';

@use './mobile/main/main.scss';
@use './mobile/main/widget1/main__widget1.scss';
@use './mobile/main/widget1/__slogan/_slogan';
@use './mobile/main/widget1/__help/_help';
@use './mobile/main/widget1/__skull/_skull';

@use './mobile/main/widget2/widget2.scss';
@use './mobile/main/widget2/__sale/_sale';
@use './mobile/main/widget2/_phoneBtn/phoneBtn';
@use './mobile/main/widget2/__phone/_phone';
@use './mobile/main/widget2/__stoke/_stoke';

@use './mobile/main/widget3/widget3.scss';
@use './mobile/main/widget3/__video/_video';
@use './mobile/main/widget3/__slogan2/_slogan2';

@use './mobile/main/applicationBtn/main__applicationBtn';

@use './mobile/help/help' as mobile;
@use './mobile/help/__title/__title.scss';
@use './mobile/help/__items/_items.scss';
@use './mobile/help/__certificate/_certificate.scss';

@use './blocks/index.scss' as *;
@use './mobile/help/__certificate/_certificate.scss' as *;

@use './mobile/reviews/reviews.scss' as *;
@use './mobile/reviews/-doctors/-doctors.scss' as *;
@use './mobile/reviews/-doctors/__title/_title.scss' as *;
@use './mobile/reviews/-doctors/__items/_items.scss' as *;
@use './mobile/reviews/-doctors/__items/__card/_card.scss';
@use './mobile/reviews/-doctors/__items/__card/review_star/stars.scss' as *;
@use './mobile/reviews/-doctors/__nav/_nav.scss' as *;

@use './mobile/reviews/-companies/-companies';
@use './mobile/reviews/-companies/__rating/_rating.scss';
@use './mobile/reviews/-companies/__items/_items.scss' as *;

@use './mobile/reviews/-main/-main.scss' as *;
@use './mobile/reviews/-main/__nav/_nav.scss' as *;
@use './mobile/reviews/-main/__container/-item/-item.scss' as *;
@use './mobile/reviews/-main/__container/_container.scss' as *;
@use './mobile/reviews/-main/__container/-item/-case/-case.scss' as *;
@use "./mobile/reviews/-runningLine/_runningLine";

@use './mobile/calculation/calculation.scss' as *;
@use './mobile/calculation/__block/_block.scss' as *;
@use './mobile/calculation/__item/_item.scss' as *;

@use './mobile/footer/footer.scss' as *;
@use './mobile/footer/__map/_map';
@use './mobile/footer/__feedback/_feedback.scss' as *;
@use './mobile/footer/__nav/_nav.scss' as *;
@use './mobile/footer/__links/_links.scss' as *;
@use './mobile/footer/__license/_licence.scss' as *;
@use './mobile/footer/__warning/_warning.scss' as *;
@use './mobile/footer/__fringe/_fringe.scss' as *;
