@use '/src/assets/fonts/fonts.scss';

@use './mobile/body/body.scss';

@use './mobile/container/container.scss';
@use './mobile/header/fringe.scss';
@use './mobile/header/header.scss';
@use './mobile/header/btns/header__phoneBtn.scss';
@use './mobile/header/btns/header__menuBtn.scss';

@use './mobile/header/address/address_content.scss';
@use './mobile/header/address/btn/address_btn.scss';
@use './mobile/header/address/btn/openList-btn';

@use './mobile/header/application/application_content.scss';
@use './mobile/header/application/btn/application_btn.scss';

@use './mobile/header/block/header_block.scss';
@use './mobile/header/block/header_links.scss';

@use './mobile/header/nav/header__nav.scss';
@use './mobile/header/nav/btns/header__nav_btn.scss';

@use './mobile/header/address/address__openList.scss';

@use 'mobile/header/__mobileMenu/_mobileMenu';
@use 'mobile/header/__mobileMenu/_address/address';
@use 'mobile/header/__mobileMenu/_nav/nav';
@use 'mobile/header/__mobileMenu/_application/application';

@use './mobile/main/main.scss';
@use './mobile/main/widget1/main__widget1.scss';
@use './mobile/main/widget1/__slogan/_slogan';
@use './mobile/main/widget1/__help/_help';
@use './mobile/main/widget1/__skull/_skull';

@use './mobile/main/widget2/widget2.scss';
@use './mobile/main/widget2/__sale/_sale';
@use './mobile/main/widget2/_phoneBtn/phoneBtn';
@use './mobile/main/widget2/__phone/_phone';
@use './mobile/main/widget2/__stoke/_stoke';

@use './mobile/main/widget3/widget3.scss';
@use './mobile/main/widget3/__video/_video';
@use './mobile/main/widget3/__slogan2/_slogan2';

@use './mobile/main/applicationBtn/main__applicationBtn';

@use './mobile/help/help' as mobile;
@use './mobile/help/__title/__title.scss';
@use './mobile/help/__items/_items.scss';
@use './mobile/help/__certificate/_certificate.scss';

@use './blocks/index.scss' as *;
