.main-item {

  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 329px;

  @media screen and (min-width: 1194px) {
    
    width: 1162px;
  }

  @media screen and (min-width: 1672px) {

    width: 1580px;
    gap: 60px;
  }

  &__patient {

    width: 100%;
    height: 190px;
    position: relative;

    @media screen and (min-width: 1194px) {

      width: 540px;
    }
  }

  &__block1 {

    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 0;
    right: 0;

    @media screen and (min-width: 1194px) {

      left: 194px;
      gap: 16px;
    }

    &_text1 {

      padding: 6px 16px;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      vertical-align: middle;
      color: #2D2D2D;
      background-color: #e4e4e4;
      border-radius: 10px;
      width: 145px;

      @media screen and (min-width: 1194px) {

        font-size: 18px;
        width: 177px;
      }
    }

    &_text2 {

      padding: 6px 11px;
      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0;
      vertical-align: middle;
      color: #1255E5;
      background-color: #c3d7ff;
      border-radius: 10px;
      width: fit-content;
      text-wrap: nowrap;

      @media screen and (min-width: 1194px) {

        font-size: 24px;
      }
    }
  }

  &__block2 {

    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 8px;
    z-index: 2;
    max-width: 205px;
    position: absolute;
    bottom: 0;
    right: 4px;
    box-shadow: 0 0 8px 0 #00000026;

    @media screen and (min-width: 1194px) {

      left: 194px;
      bottom: 15px;
      max-width: 325px;
    }

    &_text {

      font-family: "Noto Sans", sans-serif;
      font-weight: 500;
      font-size: 13px;
      line-height: 120%;
      letter-spacing: -0.5px;
      color: #262527;

      @media screen and (min-width: 1194px) {

        font-size: 14px;
      }
    }
  }

  &__point {

    width: 6px;
    height: 64px;
    background-image: url("/src/assets/png/arrow_white_left.png");
    background-color: rgba(255,255,255,0);
    background-repeat: no-repeat;
    background-size: 6px 12px;
    background-position: center center;
    position: absolute;
    left: -5px;
    top: 0;
  }
}

.patient_1 {

  background-image: url("/src/assets/png/pacients/pacient1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_2 {

  background-image: url("/src/assets/png/pacients/pacient2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_3 {

  background-image: url("/src/assets/png/pacients/pacient3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_4 {

  background-image: url("/src/assets/png/pacients/pacient4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_5 {

  background-image: url("/src/assets/png/pacients/pacient5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_6 {

  background-image: url("/src/assets/png/pacients/pacient6.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_7 {

  background-image: url("/src/assets/png/pacients/pacient7.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_8 {

  background-image: url("/src/assets/png/pacients/pacient8.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.patient_9 {

  background-image: url("/src/assets/png/pacients/pacient9.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}
