.faq{
    &__number{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &--text{
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.5px;
            color: rgba(255, 255, 255, 1);
        }

        &--num{
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 16px;
            padding: 8px 12px;
            background-color: rgba(255, 255, 255, 1);

            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: -0.5px;
            color: rgba(45, 45, 45, 1);
        }
    }
}

@media (min-width: 1590px) {
    .faq__number{
        margin: 0px auto;

        &--text{
            text-align: center;
        }
    }
}


@media (max-width: 1194px) {
    .faq{
        &__number{
            gap: 5px;

            &--text{
                font-size: 16px;
                text-align: center;
            }
        }
    }
}