.header__mobileMenu {

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 8px 18px 0 #0000001A;
  border-radius: 16px;
}