.calculation {

  padding: 70px 0;
  padding-bottom: 2px;
  background-color: #f7f6fb;

  & .container{
    max-width: calc(100dvw - 32px);
  }

  @media screen and (min-width: 1194px) {

    padding: 100px 0;
  }

  &__content {

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 1194px) {

      width: auto;
    }
  }
  
  &__items {
    
    // overflow: scroll;
    display: flex;
    gap: 16px;
    scrollbar-width: none;
    padding-top: 48px;
    padding-bottom: 68px;
    width: 100%;
    justify-content: center;

    &::-webkit-scrollbar{
      display: none;
      width: 0px;
      height: 0px;
    }
  }

}

@media (max-width: 1194px) {
  .calculation{
    &__items{
      overflow: scroll;
    }
  }
}

@media screen and (max-width: 755px) {
    .calculation{
      & .container{
        max-width: 100dvw;
        padding: 0px;
      }

      &__items{
        justify-content: flex-start;
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }