.calculation {

  padding: 80px 0;
  background-color: #f7f6fb;

  @media screen and (min-width: 1194px) {

    padding: 100px 0;
  }

  &__content {

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__container {
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 1194px) {

      width: auto;
    }
  }
  
  &__items {
    
    overflow: scroll;
    display: flex;
    gap: 16px;
    scrollbar-width: none;
    padding-top: 38px;
  }

}