.main__widget2 {

    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 125px;
    position: relative;
    background-color: #FFF;
}

@media screen and (min-width: 1194px) {

    .main__widget2 {

        order: 1;
    }
}

@media screen and (min-width: 1672px) {

    .main__widget2 {

        transform: translateY(-90px);
    }
}