.main__widget2 {

    &_phoneBtn {

        width: 62px;
        height: 46px;
        background-color: #22833F;
        padding: 12px 16px;
        box-shadow: 0 4px 12px 0 #00000040;
        border-radius: 25px 0 0 25px;
        border: none;

        position: fixed;
        z-index: 100;
        top: 70%;
        right: 0px;

        animation-name: pulseBtnPhone;
        animation-duration: 30s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    @media screen and (min-width: 1194px) {
    
        &_phoneBtn {

            display: none;
        }

    }

    &_phoneIcon {

        width: 22px;
        height: 22px;
        background-image: url(/src/assets/svg/phone_white.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #00000000;
    }

}

@keyframes pulseBtnPhone {
    0%{
        transform: translateX(100px);
    }
    50%{
        transform: translateX(100px);
    }
    51%{
        transform: translateX(0px);
    }
    60%{
        transform: translateX(0px);
    }
    61%{
        transform: translateX(5px);
    }
    62%{
        transform: translateX(0px);
    }
    70%{
        transform: translateX(0px);
    }
    71%{
        transform: translateX(5px);
    }
    72%{
        transform: translateX(0px);
    }
    80%{
        transform: translateX(0px);
    }
    81%{
        transform: translateX(5px);
    }
    82%{
        transform: translateX(0px);
    }
    90%{
        transform: translateX(0px);
    }
    91%{
        transform: translateX(5px);
    }
    92%{
        transform: translateX(0px);
    }
    99%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(100px);
    }
}