.bottom2{
    &__agree-togle{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    &__toggle{
        width: 15px;
        min-width: 15px;
        max-width: 15px;
        height: 15px;
        min-height: 15px;
        max-height: 15px;
        border-radius: 50%;
        border: 2px solid rgba(92, 195, 123, 1);
        background-color: rgba(0, 255, 255, 0);
        display: flex;
        align-items: center;
        justify-content: center;

        &.active{
            & .bottom2__toggle-check{
                opacity: 1;
            }
        }
    }

    &__toggle-check{
        opacity: 0;
        width: 7px;
        height: 7px;
        background-color: rgba(92, 195, 123, 1);
        border-radius: 50%;
        transition: opacity 0.3s ease-in-out;
    }
}