.help {

  background-color: #f7f6fb;
  padding: 80px 0;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    position: relative;
  }

  @media screen and (min-width: 1194px) {

    &__content {

      margin-bottom: -300px;
      align-items: start;
    }
  }
}
