.widget3__slogan {

  display: flex;
  padding: 14px 12px;
  box-shadow: 0 8px 18px 0 #0000001A;
  border-radius: 16px;
  background-color: #F7F6FB;
  gap: 8px;
  transform: translateY(-4px);
    
  &_text {

      margin-left: auto;
      font-family: "Noto Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0;
      vertical-align: middle;
      max-width: 249px;
      color: #2D2D2D;
  }

  @media screen and (min-width: 1672px) {

    &_text {

      margin: auto 0;
      max-width: 320px;
      font-size: 16px;
    }
  }

  &_text-bold {

      font-weight: 700;
  }

  &_statue {

      width: 60px;
      height: 60px;
      background-image: url(/src/assets/svg/statue.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
  }

  @media screen and (min-width: 1672px) {

    &_statue {

      width: 80px;
      height: 80px;
    }
  }


  &_statueUp {

      width: 27px;
      height: 73px;
      background-image: url(/src/assets/svg/statueUp.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 16px;
      top: -25px;
  }

  @media screen and (min-width: 1672px) {

    &_statueUp {

      width: 41px;
      height: 125px;
      left: 20px;
      top: -55px;
    }
  }

  &_rayStatue {

      width: 40px;
      height: 24px;
      background-image: url(/src/assets/svg/rayOfStatue.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 22px;
      color: #2D2D2D;
  }

  @media screen and (min-width: 1672px) {

    &_rayStatue {

      width: 57px;
      height: 34px;
      top: 35px;
    }
  }
}

@media screen and (min-width: 1194px) {
    
  .widget3__slogan {

    transform: translateY(-8px) translateX(-30px);
  }
}

@media screen and (min-width: 1672px) {

  .widget3__slogan {

    transform: translateY(-10px) translateX(-100px);
  }
}